<h1>Viewing Party Lite</h1>

<h2>Top Rated Movies</h2>

<%= button_to 'Discover Page', "/users/#{@user.id}/discover", method: :get %>

<table>
<% @movie_data.each do |movie| %>
<<<<<<< Updated upstream
    <% movie[:results].each do |m| %>
    <tr>
    <td><%= link_to m[:original_title], "/users/#{@user.id}/movies/#{m[:id]}" %></td>
    <td>Vote Average: <%= m[:vote_average] %></td>
    </tr>
    <% end%>
=======
    <section class="movie">
    <tr>
        <td><%= link_to movie[:original_title], "/users/#{@user.id}/movies/#{movie[:id]}" %></td>
        <td>Vote Average: <%= movie[:vote_average] %></td>
    </tr>
    </section>
>>>>>>> Stashed changes
<% end %>
</table>

<%= button_t>
