<h1>Viewing Party Lite</h1>
<h2><%= @user.name %>'s Dashboard</h2>

<div class="movie-discovery">
  <%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
</div>

<div class="viewing-parties">
<% if @viewing_parties != nil %>
  <% @viewing_parties.each do |party| %>
    <p><%= party.movie_title %></p>
    <p><%= party.when %></p>
    <p><%= party.time %></p>
  <% end %>
<% end %>
